
/* Font Family - Montserrat Regular */
@font-face {
    font-family: Montserrat;
    src: url('../../fonts/montserrat/Montserrat-Regular.otf');
}

/* Font Family - Montserrat Light */
@font-face {
    font-family: Montserrat-Light;
    src: url('../../fonts/montserrat/Montserrat-Light.otf');
}

/* Font Family - Montserrat-Bold */
@font-face {
    font-family: Montserrat-Bold;
    src: url('../../fonts/montserrat/Montserrat-Bold.otf');
}

/* Font Family - Montserrat-Extrabold*/
@font-face {
    font-family: Montserrat-Extrabold;
    src: url('../../fonts/montserrat/Montserrat-ExtraBold.otf');
}