* {
    padding: 0;
    margin: 0;
}

.hero {
    width: 100%;
    display: flex;
    align-content: flex-start;
    height: 100vh;

    .sidebar {
        width: 4rem;
        display: flex;
        background: #00548C;
        flex-direction: column;
        padding-top: 2rem;

        .page-link {
            text-transform: uppercase;
        }
    }

    .main-site {
        display: flex;
        width: 100%;
        background: red;
    }
}