* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.hero {
    width: 100%;
    display: flex;
    align-content: flex-start;
    height: 100vh;

    .sidebar {
        width: 4rem;
        display: flex;
        background: $primary-blue;
        flex-direction: column;
        align-content: center;
        padding-top: 2rem;

        .page-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 80%;
            height: 80%;
            border: 1px solid gold;
            //position: absolute;
            //overflow: hidden;
            //padding: 0rem 2rem;

            .page-button {
                display: flex;
                border: 1px solid white;
                background: purple;
                transform: rotate(-90deg);
                width: 100%;

                h3 {
                    text-align: center;
                }
            }
        }
        
        .social-buttons {

        }
    }

    .main-site {
        width: 100%;
        //background: url('../../img/maldives.jpg');
        //background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;

        .travel-page {
            display: flex;
            justify-content: center;
            background: url('../../img/maldives.jpg');
            background-size: cover;
            height: 80%;
            width: 100%;
        }
    }
}