$primary-blue: #00548C;
$secondary-blue: #0062A3;
$tertiary-blue: #0071BD;

$primary-red: #D63128;
$azure-blue: #8BC9E8;
$friendly-blue: #B1E2FB;
$main-blue: #0063A5;

$mont-xbold: 'Montserrat-Extrabold';
$mont-bold: 'Montserrat-Bold';
$mont-light: 'Montserrat-Light';
$mont: 'Montserrat';